/*--------------------------------------------------------------------
Correspond à la partie dans laquelle on met le titre "Recettes:"
dans l'index, entre la navbar et les cards des recettes
--------------------------------------------------------------------*/

.banner {
  color: black;
  padding-left: 10px;
}

.banner h3 {
  margin-top: 20px;
  margin-bottom: -5px;
  font-size: 20px;
}
