.banner {
  height: 20px !important;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  font-family:  "Raleway", sans-serif;;
  top: 0px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner h2{
  color: white;
}

.banner h3{
 color: white;
}

.banner h1{
  color: white;
}

.banner p{
  color: white;
}
