/* ----------------------------------------------------------
Front des cards des recettes dans Index.html.erb
---------------------------------------------------------- */

.total-card-recipes {
  position: relative;
  background: #0F4F4F4;
  margin-bottom: 50px;
  margin-top: 15px;
}

.card-picture {
  height: 125px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  top: 0px;
  border-radius: 3px;
}

.petit-texte a {
  font-size: 10px;
  color: black;
  &:hover{
    color: #4ADCB5;
    transition-duration: 0.2s;
  }
}

/* Logo Coeur qui permet d'ajouter en favoris  */
.a .fa-heart { color: #FC624D;
    font-size: 17px;
}

.a .fa-heart-o { color: #FC624D;
  font-size: 16px;
}


/* ----------------------------------------------------------
 Front de la card de la recette dans Show.html.erb
 ---------------------------------------------------------- */


.card-container{
  background-color: white;
  height: 100%;
  &:hover{
    opacity: 0.8;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #B8B8B8 ;
    transition-duration: 0.4s;
  }
}

.card h1{
  position:absolute;
  top:50%;
  left:0;
  color:lightgrey;
  width:100%;
  text-align:center;
  transform:translateY(-50%);
  margin:0;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
  transition-duration: 0.4s;

}
